* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:#e8bcb9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #c38eb4;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  button {
    border: none;
    padding: 10px 20px;
    opacity: 0.7;
    display: inline-block;
      padding: 10px 20px; /* Ajoutez ou ajustez l'espacement intérieur du bouton selon vos préférences */
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      color:white; /* Couleur du texte */
      background-color:#9829ba; /* Couleur de fond */
      border-radius: 5px 5px 10px; /* Coins arrondis */
      transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet de survol */
    }
  
  button:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #e8bcb9;
      color: black;
  }


.grid-container {
    display: grid;
    /* grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr); */
    /* width: 200px;
    height: 200px; */
  }

  .grid-item {
    border: 1px solid grey;
  }

 input {
    padding: 8px;
    border-radius: 5px 5px 10px 10px;
  }